body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color:#fce4ec;
  color: #333;
}

header {
  text-align: center;
  background-color: #da70d6;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

section {
  background-color: #ffffff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  margin-top: 30px;
  text-align: center;
}

ul {
  list-style-type: square;
}

li {
  color: #663399;
  background-color: #ffdde6;
  padding: 6px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

a:hover {
  color: #ffcbdb;
  text-decoration: underline;
}